 <header class="section slide-header">
    
	<h1 class="content-header">
	  Brazil Vaccines <br>
	  Webcast Series Part 1
	</h1>

	<h2 class="content-sub-header">
	  Meningococcal meningitis is more common than other <br>
	  types of meningitis; however, its incidence has decreased
	</h2>

</header>

<div class="slide-content" style="width: 70%;margin: 40px auto">

	

	<video width="856" height="360"  controls>
	  <source src="videos/IQ_Global_Final_28_04_2014_low.mp4" type="video/mp4">
	Your browser does not support the video tag.
	</video>



</div>