<header class="slide-header slide-header-intro">

  <h1 class="intro-header">
    Brazil Vaccines 
    <br>Webcast Series Part 1
  </h1>

  <h2>
    Presentation will start at 10am
  </h2>

</header>

<div>

  <div class="presenter-label">

    <button ng-click="authClient.$logout()">Logout</button>
      
    <h3>
      Luciano Cesar Ponte Azavedo
    </h3>

    <p>
      Research and Education Institute (IEP)<br>
      Hospital Sírio-Libanês<br>
      São Paulo, Brazil
    </p>

  </div>

</div>
