 <header class="section slide-header">
    
	<h1 class="content-header">
	  Brazil Vaccines <br>
	  Webcast Series Part 1
	</h1>

	<h2 class="content-sub-header">
	  Meningococcal meningitis is more common than other <br>
	  types of meningitis; however, its incidence has decreased
	</h2>

</header>

<div class="slide-content">

	<p>Incidence of meningitis in the Brazilian population</p>

	<div class="results"></div>

	<ul class="reference-list">
		<!-- <li>
			<span class="pull-left icon" reference ng-click="addDownload($event)"></span>
			<span>P≤0.001 for all active treatments vs placebo; ASA, acettlsalicylic acid (Aspirin®)</span>
		</li> -->
		<!-- <li><span class="pull-left icon" reference></span>
			<span>P≤0.001 for all active treatments vs placebo; ASA, acettlsalicylic acid (Aspirin®)</span>
		</li> -->

		<reference ref="P≤0.001 for all active treatments vs placebo; ASA, acettlsalicylic acid (Aspirin®)"></reference>

		<reference ref="This is the second reference"></reference>
	</ul>


</div>