
	
<h1 class="col-md-12">Controls</h1>



<div class="col-md-12 btn-toolbar">
		
	<button class=" btn" reveal-control mycontrol="'up'">
		<span class="glyphicon glyphicon-arrow-up" ></span> Up
	</button>

	<button class=" btn" reveal-control mycontrol="'down'">
		<span class="glyphicon glyphicon-arrow-down"></span> Down
	</button>

	<button class=" btn" reveal-control mycontrol="'left'">
		<span class="glyphicon glyphicon-arrow-left"></span> Left
	</button>

	<button class=" btn" reveal-control mycontrol="'right'">
		<span class="glyphicon glyphicon-arrow-right"></span> Right
	</button>

</div>

<div class="col-md-12 btn-toolbar">
	
	<button class=" btn" reveal-control mycontrol="'toggleOverview'">
		<span class="glyphicon glyphicon-th"></span>	Overview
	</button>

</div>





